<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airport.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @airport.category %>
</p>

<p>
  <strong>City:</strong>
  <%= @airport.city.name %>
</p>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
