<%= form_with(model: collision) do |form| %>
  <% if collision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collision.errors.count, "error") %> prohibited this collision from being saved:</h2>

      <ul>
        <% collision.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bird_id %>
    <%= form.collection_select(:bird_id, Bird.all, :id, :common_name) %>
  </div>

  <div class="field">
    <%= form.label :datum_id %>
    <input type="text" name="collision[datum_id]" value="<%= (Datum.last).id %>" placeholder="<%= (Datum.last).id %>" readonly>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
