<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @datum.date.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Flight phase:</strong>
  <%= @datum.flight_phase %>
</p>

<p>
  <strong>Airport:</strong>
  <%= @datum.airport_id %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @datum.flight_id %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @datum.weather_id %>
</p>

<p>
  <strong>Report:</strong>
  <%= @datum.report_id %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
